@{
    ViewData["Title"] = "Home Page";
}

<div>
    <img src="~/images/logo.png" height="113" width="113" border="0" />
    <h1 class="display-4">@ViewBag.Welcome to @ViewBag.VisitorNew.FirstName  @ViewBag.VisitorNew.LastName</h1>
    <h2>@ViewData["AnotherWelcome"]</h2>

    @*Wrap the entries in a row so that when 4 columns are made it wraps to the next row *@
    <div class="row">

        @foreach (var item in (IEnumerable<string>)ViewData["Conditions"])
        {
            if (item.ToString().Contains("Heading"))
            {
                <div class="form-group col-md-12">
                    <h3> @item.ToString().Replace("Heading", "")</h3>
                </div>

            }
            else
            {
                //col-md-3 means you get 4 columns to a  row
                <div class="form-group col-md-3 text-left">@item.ToString()</div>
            }
        }
    </div>
</div>
