@{
    ViewData["Title"] = "Home Page";
}
@model VisitorManagement.Models.Visitor
<div>
    <img src="~/images/logo.png" height="113" width="113" border="0" />
    <h1 class="display-4">@ViewBag.Welcome </h1>

    <div class="row">
        <div class="col-6">

            @await Html.PartialAsync("_VisitorCreate")
        </div>
        <div class="col-3">
            <h4>Top 5 most visited Staff</h4>
            <ul>
                @foreach (var item in (IEnumerable<StaffNames>)ViewData["TopStaff"])
                {
                    <li>  @item.Name  @item.VisitorCount visitors</li>
                }
            </ul>

            <h4>Current Visitors</h4>
            <ul>
                @foreach (var item in (IEnumerable<Visitor>)ViewData["LoggedInVIsitors"])
                {
                    <li> <a asp-route="LogoutRoute" asp-route-id="@item.Id" class="btn btn-primary" type="button">Logout</a>  @item.FirstName @item.LastName  visiting @item.StaffName.Name    </li>
                }
            </ul>


        </div>
        <div class="col-3">


            <h4>Visitors in the last 7 days</h4>
            <ul>
                @foreach (var item in (IEnumerable<Visitor>)ViewData["Last7DaysVisitors"])
                {
                    <li>  @item.FirstName  @item.LastName  met with @item.StaffName.Name on @item.DateIn</li>
                }
            </ul>


        </div>

    </div>

    <div class="row">

        @await Html.PartialAsync("_Conditions")

    </div>



</div>

@section Scripts
{


    @if (TempData["notification"] != null)
    {
        @Html.Raw(TempData["notification"])
    }

    @if (TempData["create"] != null)
    {
        @Html.Raw(TempData["create"])
    }
}